<!DOCTYPE html>
<html>

<head>
    <title>New activities</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="/galleryAssets/js/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col col-6">
            <div class=" card mb-3">
                <div class="card-header"><h1>New Pictures Found!</h1></div>
                <div class="card-body">
                <p>Activity description</p>
                <input type="text" name="" placeholder="You are having good time?" />
                <div class="grid" data-masonry='{ "itemSelector": ".grid-item" }'>
                    <% uploadedImgs.forEach((img) => { %>
                    <div class="grid-item">
                        <img src="<%= '/uploaded/' + img %>" alt="Image">
                    </div>
                    <% }) %>
                </div>
            </div>
            </div>
            </div>
            <!-- <div class="col col-1">/</div> -->
            <div class="col col-6">
                <div class=" card mb-3">
                <div class="card-header"><h1>Review Results</h1></div>
                <div class="row card-body">
                    <div class="breadcrumb col-md-12">Consented Images</div>
                    <% consentedImgs.forEach((img) => { %>
                    <div class="col-md-4  consented-image">
                        <img src="<%= img.current_url %>" alt="Image" class="img-fluid">
                    </div>
                    <% }) %>
                </div>
                <div class=" card-header">
                    <h1>Action Required:</h1>
                    <h4>Uncosented Content...</h4>
                </div>
                <!-- <div class=" card-body"> -->
                <form class="row card-body" method="post" action="/gallery">
                 <!--    <div class="col-md-12">
                        unconsented img
                    </div> -->
                    <% unconsentedImgs.forEach((img) => { %>
                    <div class="col-md-4 no-padding">
                        <img src="<%= img.current_url %>" alt="Image" class="img-fluid" name="<%=img.id%>">

                        <input type="hidden" name="<%=img.id%>" value="<%= img.unconsentedUsers %>">
                        <div class="input-group mb-3">
                            <select class="custom-select" name="<%=img.id %>">
                                <option selected>Choose publishing method...</option>
                                <option value="1" selected>Blurred</option>
                                <option value="2">Hidden</option>
                            </select>
                        </div>
                        </div>
                    <!-- </div> -->
                    <% }) %>
                    <div class="right">
                        <button type="submit" class="btn btn-info">Next</button>
                    </div>
                </form>
            <!-- </div> -->
            </div>
            </div>
        </div>
    </div>
    <script>
    </script>
</body>

</html>